---
---

$primary: #333333;

@import "main";

div.hero-body {
	background: no-repeat center/cover url("https://www2.hackingthursday.org/files/banner.jpg");
}

.hero.is-primary .title {
	opacity: 0;
}
