---
---

$primary: #333333;

@import "main";

div.hero-body {
	background: no-repeat center/cover url("https://www.hackingthursday.org/files/banner.jpg");
}

.hero.is-primary .title {
	opacity: 0;
}

@media (max-width: 768px) {
	aside.menu {
		height: 10em;
		overflow: auto;
	}
}

.navbar-start > a:nth-child(1){ 
	display: none; 
}
